.create-crew{
    width: 250px;
    padding: 20px; 
    margin: 10px;
    color: #000
}


.icon-button {
    width: 40px;    
    mat-icon {
      margin: auto; 
      display: block;
    }
}

.table
{
    margin: 10px;
}
.list-page{
    margin: 1%;
}
  
.total-income{
    padding: 1em;
}