<div class="crew-card">
    <div >
      <button class="turn-back" mat-fab (click)="turnBack()">{{'TURN_BACK' | translate}}</button>
  </div>
    <mat-card>
      <mat-card-header>
        <mat-card-title>{{ crew?.firstName }} {{ crew?.lastName }}</mat-card-title>
        <mat-card-subtitle>{{ crew?.title }}</mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        <div class="crew-info">
          <div class="crew-details">
            <p><strong>{{"NATIONALITY" | translate}}</strong> {{ crew?.nationality }}</p>
            <p><strong>{{"DAYS_ON_BOARD" | translate}}</strong> {{ crew?.daysOnBoard }}</p>
            <p><strong>{{'DAILY_RATE' | translate}}</strong> {{ crew?.dailyRate }} {{ crew?.currency }}</p>
            <p><strong>{{'TOTAL_INCOME' | translate}}</strong> {{ crew?.totalIncome }} {{ crew?.currency }}</p>
          </div>
          <div class="certificate-selector">
            <app-certificate-selector [Id]="crewId" [isDisabled]="true" ></app-certificate-selector>
          </div>
        </div>
      </mat-card-content>
    </mat-card>
  </div>
  